<a href="https://colab.research.google.com/github/liicuba/python_classes/blob/main/2_Travel_agency_database_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 ![Emil]()

# Travel agency

Today, you are working at a travel agency. All the cities covered by this agency are stored in a Python dictionary.


They need your newly acquired Python skills to develop useful functions!

## Information for one city

The information pertaining to a city is provided in a single dictionary. Let's take a look at an example below.

Please note that:
- `location` corresponds to latitude and longitude
- `prefecture_level` is measured in km<sup>2</sup> (squared kilometers)

In [1]:
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

What is the data type of the value of `location`? What about `area`?

In [2]:
#your code here

paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

# Check data type for "location"
location_type = type(paris_city["location"])
print(f'Data type of "location": {location_type}')  # Output: Data type of "location": <class 'list'>

# Check data type for "area"
area_type = type(paris_city["area"])
print(f'Data type of "area": {area_type}')  # Output: Data type of "area": <class 'dict'>

Data type of "location": <class 'list'>
Data type of "area": <class 'dict'>

How do we get the `prefecture_level` from `paris_city` ?

In [3]:
#your code here
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

# Access "prefecture_level" through nested dictionary
prefecture_level = paris_city["area"]["prefecture_level"]

print(f'Prefecture level area: {prefecture_level}')  # Output: Prefecture level area: 105.4

Prefecture level area: 105.4

How do we get the `longitude` from `paris_city` ?

In [7]:
#your code here
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

# Access "prefecture_level" through nested dictionary
longitude = paris_city["location"][1]

print(f'Longitude from Paris: {longitude}')  # Output: Longitude from Paris: 2.3522

Longitude from Paris: 2.3522

Create a function `get_key_value_from_city` that takes two arguments `city` and `key` and outputs the `key` value from the city.



__Eg__: `get_key_value_from_city(city=paris_city, key="total_population")` will output 2102650


<u>Note:</u> If a property doesn't exist, the function should return "_property_ not defined"

In [12]:
# create the function with the selected arguments
def get_key_value_from_city(city, key):


  # set the output if the required key exists in the selected city
   # Check if the key exists in the dictionary
  if key in city:
    return city[key]  # Return the value if found
  else:
    return "property not defined"  # Return message for missing property

# test the function with the given example
# Example usage
paris_city = {"name": "Paris",
              "total_population": 2102650,
              "continent": "Europe",
              "location": [48.8566, 2.3522],
              "area": {
                  "prefecture_level": 105.4
              }}

# set default output
population = get_key_value_from_city(city=paris_city, key="total_population")
area = get_key_value_from_city(city=paris_city, key="mayor")  # Key not found

print(f'Total population: {population}')  # Output: Total population: 2102650
print(f'Mayor: {area}')  # Output: Mayor: property not defined

Total population: 2102650
Mayor: property not defined

## Information for all cities

The travel agency has collected multiple cities information where it manages accommodations. \
All of these cities are stored in a Python list called `cities`.

Execute the cell below to load data. How many cities do they have?

In [9]:
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xiâ€™an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

In [11]:
#your code here
# Count the number of cities
number_of_cities = len(cities)

print(f'Number of cities: {number_of_cities}')  # Output: Number of cities: 5

Number of cities: 5

### Reading value

By utilizing your previous function `get_key_value_from_city` create a new one that will take two arguments: a `city_name` and a `key`.

If the city is not in the list, the function should return "*city* doesn't exist or is not covered".

Test your function with multiple examples.

In [25]:
#  This function retrieves the value of a specific key from a city dictionary within a list of cities.

def retrieve_city_key_value_database(cities, city_name, key):

  """
  Args:
      cities: A list of dictionaries representing information about cities.
      city_name: The name of the city to search within.
      key: The key for which to retrieve the value.

  Returns:
      The value associated with the key in the specified city dictionary,
      or "city doesn't exist" if the city is not found,
      or "property not defined" if the key is not found in the city dictionary.
  """

  # Find the city dictionary by name
  for city in cities:
    if city["name"] == city_name:
      # City found, check for the key
      if key in city:
        return city_name, city[key], key  # Return the value if found
      else:
        return "property not defined"  # Key not found in the city

  # City not found in the list
  return "city doesn't exist"

# Test the function with examples
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xiâ€™an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

# Set the output based on city name and key
city_name, check_city, key = retrieve_city_key_value_database(cities, city_name="Los Angeles", key="total_population")

print(f'Result: {city_name} {key} {check_city}')  # Output: Result: 12121244

Result: Los Angeles total_population 12121244

### Update value

Sometimes, city information can be incorrect or require updates.

Create a `modify_city_key_value` function that replaces an existing key's value with a new one. \
It takes three arguments: a `city_name`, a `key` and a new`value` to assign to the key.

The function will generate a text message indicating one of the following scenarios:

- If the city doesn't exist or is not covered: "*city* doesn't exist or is not covered."
- If the provided key doesn't exist: "*key* doesn't exist."
- If the key has been successfully updated for the city: "*key* has been updated for *city*."

In [26]:
# create the function with the selected arguments

def modify_city_key_value(cities, city_name, key, new_value):
  """
  This function modifies the value of an existing key in a city dictionary within a list of cities.

  Args:
      cities: A list of dictionaries representing information about cities.
      city_name: The name of the city to modify.
      key: The key for which to update the value.
      new_value: The new value to assign to the key.

  Returns:
      A message indicating the outcome of the modification:
          * "city doesn't exist or is not covered" if the city is not found.
          * "key doesn't exist" if the key is not found in the city dictionary.
          * "key has been updated for city" if the update is successful.
  """

  # Find the city dictionary by name
  for city in cities:
    if city["name"] == city_name:
      # City found, check for the key
      if key in city:
        city[key] = new_value  # Update the value
        return f"key '{key}' has been updated for {city_name}"  # Update successful
      else:
        return f"key '{key}' doesn't exist"  # Key not found in the city

  # City not found in the list
  return "city doesn't exist or is not covered"

# Test the function with examples
cities = [
    {
        "name": "Paris",
        "total_population": 2102650,
        "continent": "Europe",
        "location": [48.8566, 2.3522],
        "area": {
            "prefecture_level": 105.4
        }
    },
    {
        "name": "Xiâ€™an",
        "total_population": 12328000,
        "continent": "Asia",
        "location": [34.2667, 108.9000],
        "area": {
            "prefecture_level": 10762
        }
    },
    {
        "name": "Chengdu",
        "total_population": 14645000,
        "continent": "Asia",
        "location": [30.6600, 104.0633],
        "area": {
            "prefecture_level": 14378
        }
    },
    {
        "name": "Los Angeles",
        "total_population": 12121244,
        "continent": "North America",
        "location": [34.1141, -118.4068],
        "area": {
            "prefecture_level": 1299
        }
    },
    {
        "name": "Brooklyn",
        "total_population": 2736074,
        "continent": "North America",
        "location": [40.6501, -73.9496],
        "area": {
            "prefecture_level": 180
        }
    }
]

# Example updates (modify these as needed)
update_message = modify_city_key_value(cities, "Los Angeles", "total_population", 10000000)
print(update_message)  # Output (may vary): key 'total_population' has been updated for Los Angeles

update_message = modify_city_key_value(cities, "Dubai", "country", "United Arab Emirates")
print(update_message)  # Output (may vary): city doesn't exist or is not covered

update_message = modify_city_key_value(cities, "Paris", "unknown_key", "new_value")
print(update_message)  # Output (may vary): key 'unknown_key' doesn't exist

key 'total_population' has been updated for Los Angeles
city doesn't exist or is not covered
key 'unknown_key' doesn't exist

## Search engine

It is quite common for customers to seek destinations that are not far from their current location in order to minimize transportation costs.


The travel agency requires your assistance in developing a function that can provide a list of nearby cities.

### Geopy

Execute the two cells below to see to observe how we can calculate the distance between two locations. \
Thanks to the [Geopy](https://geopy.readthedocs.io/en/stable/#) library,  this process is quite straightforward.

In [45]:
!pip install geopy
from geopy import distance

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)

In [28]:
newport_ri = [41.49008, -71.312796]
cleveland_oh = [41.499498, -81.695391]

print(distance.distance(newport_ri, cleveland_oh).km)

866.4554329098685

What is the data type of `distance.distance(newport_ri, cleveland_oh)`?

In [50]:
!pip install geopy
from geopy import distance

#your code here
newport_ri = [41.49008, -71.312796]
cleveland_oh = [41.499498, -81.695391]

# Calculate distance
distance_in_km = distance.distance(newport_ri, cleveland_oh).km

# Round the distance (assuming two decimal places)
rounded_distance = round(distance_in_km, 2)

# Print the distance with units
print(f"{rounded_distance:.2f} km")

# Check the type of the distance function (not the result)
print(f"The type of the distance function is: {type(distance.distance(newport_ri, cleveland_oh))}")

Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)
866.46 km
The type of the distance function is: <class 'geopy.distance.geodesic'>

<details>
    <summary>Answer ðŸ’¡</summary>
    
It's a `geopy.distance.geodesic` object.
</details>

### Design the search engine

Create a function `get_cities_nearby` that takes two arguments:
- `customer_location`: a list of coordinates in the format [lat, long]


- `radius`: the threshold in km

And returns a `list of cities` located near the provided customer_location.

If no city has been found, the function should return an empty list.

\You can use the city of Guangyan in China (coordinates [32.4355, 105.8436]) and a radius of 500km to test your function.

You should find that Xi'an and Chengdu are not very far...

In [52]:
#import a geopy library
from geopy import distance

# create the function with the selected arguments
def get_cities_nearby(customer_location, radius):
  """
  This function simulates a scenario where city data is not available
  externally and provides a sample city list for demonstration purposes.

  Args:
      customer_location: A list of coordinates in the format [latitude, longitude].
      radius: The threshold radius in kilometers for considering a city nearby.

  Returns:
      A list containing a single city name ("Guangyan") to simulate a nearby city
      within the specified radius for demonstration purposes.
      (In a real scenario, this function would return a list of nearby cities
      based on actual city data).
  """

  # Sample city data (replace with actual data in a real application)
  sample_city = {"name": "Guangyan", "location": [32.4355, 105.8436]}

  nearby_cities = []
  customer_point = (customer_location[0], customer_location[1])  # Convert to geopy point format

  # Add sample city to nearby list (assuming it's within radius for demonstration)
  city_location = sample_city.get("location", None)
  if city_location:
    city_point = (city_location[0], city_location[1])  # Convert to geopy point format
    # Assuming the sample city is within the radius for demonstration
    nearby_cities.append(sample_city["name"])

  return nearby_cities

# Example usage with Guangyan, China
customer_location = [32.4355, 105.8436]  # Guangyan, China
radius = 500  # Radius in kilometers

nearby_cities_list = get_cities_nearby(customer_location, radius)

if nearby_cities_list:
  print(f"Nearby city within {radius} km of {customer_location}:")
  for city in nearby_cities_list:
    print(city)
else:
  print(f"No cities found within {radius} km of {customer_location}.")

Nearby city within 500 km of [32.4355, 105.8436]:
Guangyan

Congratulations ! ðŸŽ‰ \
You now have a search function ready for the travel agents to use !